<div class="home">
  <div class="content-home">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum ipsum odit nihil numquam aspernatur, dolor
      natus, cumque voluptas perspiciatis dolore excepturi! Asperiores voluptatem modi mollitia tenetur placeat
      blanditiis amet earum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi deserunt assumenda ad, eaque non, animi quo
      quibusdam fugiat facere earum porro magni, excepturi nisi enim velit laudantium hic aliquam illum!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit iste asperiores, placeat pariatur ad perferendis
      deserunt temporibus molestiae! Dicta, deleniti error. Maiores delectus, tempora dolore eos perspiciatis odit
      tempore
      officia!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora corrupti placeat consequuntur itaque laboriosam
      nam totam aperiam, alias dolore nisi aliquid labore nihil corporis obcaecati iste excepturi. Dolor, dolore ad.</p>
    <br>
  </div>

  <!-- <app-footer></app-footer> -->
  <div class="footer">
    <h1 class='title-footer'>jmhalire</h1>
    <h4>141670@unsaac.edu.pe</h4>
  </div>
</div>