<nav class="navbar navbar-expand-lg navbar-light fixed-top" #navbar>
  <div class="container d-block">
    <div class="d-flex">
      
      <ion-buttons _ngcontent-tfg-c134="" slot="start"
        class="buttons-first-slot sc-ion-buttons-md-h sc-ion-buttons-md-s md hydrated">
        <ion-menu-button _ngcontent-tfg-c134="" class="md button in-toolbar ion-activatable ion-focusable hydrated">
        </ion-menu-button>
      </ion-buttons>
      <ul class='navbar-nav d-flex ml-auto mr-4'>
        <li class="nav-item">
          <a class="navbar-brand" routerLink='/' style="font-size:24px"> jmhalire</a>
        </li>
      </ul>
    </div>
    <ng-container *ngIf="option; else entertainment">
      <app-academic></app-academic>
    </ng-container>
    <ng-template #entertainment>
      <app-entertainment></app-entertainment>
    </ng-template>
  </div>
</nav>